table.comments
  thead
    tr
      th ID
      th Text
      th Name
      th Method
      th Identifier
      th Tags
      th CreatedAt
      th Loves
      th(colspan='2') Actions
  tbody
    - each comment in comments
      tr
        td #{comment._id}
        td #{comment.text}
        td #{comment.name}
        td #{comment.method}
        td #{comment.identifier}
        td #{comment.tags}
        td #{comment.createdAt}
        td #{comment.loves}
        td
          - if (comment.approved == true)
            label 
              input(type='checkbox', name='#{comment._id}', value="Disapprove")
              span.label Disapprove
          -else
            label 
              input(type='checkbox', name='#{comment._id}', value="Approve")
              span.label Approve
        td
          label 
            input(type='checkbox', name='#{comment._id}', value="Delete")
            span.label Delete