form#comment-form.comment-form.cf(method='post', action='/post')
  div.composer
    textarea#loggedin-comment-editor.comment-editor(maxlength='200', name='comment', placeholder='Share something you love about H-Town...')
  div.comment-footer.cf
    div#login-identity.left-field.cf
      - if (everyauth.twitter)
        input(type='hidden', name='loggedIn', value='twitter')
        img.avatar(src='#{everyauth.twitter.user.profile_image_url}', alt='#{everyauth.twitter.user.name}')
        span.commenter-name #{everyauth.twitter.user.name} 
        span.logout
          a(href='/logout') Logout
      - if (everyauth.facebook)
        input(type='hidden', name='loggedIn', value='facebook')
        img.avatar(src='http://graph.facebook.com/#{everyauth.facebook.user.username}/picture', alt='#{everyauth.facebook.user.name}')
        span.commenter-name #{everyauth.facebook.user.name} 
        span.logout
          a(href='/logout') Logout
    div.right-field.cf
      button#submit-comment.submit-comment.disabled(type='submit') Submit
      span.chars-left 200